@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: normal;
    font-style: normal;
}
footer{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}